/* primary: #fbdd64 */
/* secondary: #1d161e */

body {
  font-family: 'Arvo', serif;
  background-image: url('https://picsum.photos/id/40/1500/3000');
  background-size: cover;
  margin: 0;
  min-height: 100vh;
}

nav ul {
  list-style: none;
  padding-left: 0;
  background-color: hsl(293, 15%, 10%, .9);
  margin: 0;
}

nav a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: white;
  font-variant: small-caps;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  border-bottom: 3px solid #fbdd64;
}